.dashboard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  padding: 20px;
}
.content {
  flex: 1;
  max-width: 50%;
  text-align: left;
}
.gallery {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 10px;
}
.gallery img {
  width: 200px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
}
