.dashboard {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  padding: 20px;
  border-radius: 12px;
  background-color: #1f1f1f;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  flex-direction: row;
}

.content {
  flex: 1;
  max-width: 45%;
  text-align: center;
  padding-left: 20px;
}

.gallery-container {
  max-width: 45%;
  text-align: center;
}

.gallery {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.gallery img {
  width: 250px;
  display: none;
}

.gallery img:hover {
  cursor: pointer;
  scale: 1.05;
  transition: transform 0.3s ease;
}

.gallery img.active {
  display: block;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2.5rem;
  color: white;
  cursor: pointer;
  z-index: 1;
}

.arrow.left {
  left: 20px;
}

.arrow.right {
  right: 20px;
}

.gallery img.zoom {
  cursor: zoom-in;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal img {
  max-width: 90%;
  max-height: 90%;
}

.modal.show {
  display: flex;
}
